# Licensed to the Apache Software Foundation (ASF) under one or more
# license agreements; and to You under the Apache License, version 2.0:
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# This file is part of the Apache Pekko project, which was derived from Akka.
#

name: Build and test

on:
  pull_request:

jobs:
  build-test:
    name: Build and test all samples
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Setup Java 11
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11

      - name: Install sbt
        uses: sbt/setup-sbt@17575ea4e18dd928fe5968dbe32294b97923d65b # v1.1.13

      - name: Cache Coursier cache
        uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c # v6.4.7

      - name: Test pekko-sample-cluster-java
        run: cd pekko-sample-cluster-java && sbt multi-jvm:test

      - name: Test pekko-sample-cluster-scala
        run: cd pekko-sample-cluster-scala && sbt multi-jvm:test

      - name: Test pekko-sample-cluster-client-grpc-scala
        run: cd pekko-sample-cluster-client-grpc-scala && sbt multi-jvm:test

      - name: Test pekko-sample-cluster-client-grpc-java
        run: cd pekko-sample-cluster-client-grpc-java && mvn test

      - name: Test pekko-sample-distributed-data-java
        run: cd pekko-sample-distributed-data-java && sbt multi-jvm:test

      - name: Test pekko-sample-distributed-data-scala
        run: cd pekko-sample-distributed-data-scala && sbt multi-jvm:test

      - name: Test pekko-sample-distributed-workers-scala
        run: cd pekko-sample-distributed-workers-scala && sbt test

      - name: Test pekko-sample-fsm-java
        run: cd pekko-sample-fsm-java && mvn test

      - name: Test pekko-sample-fsm-scala
        run: cd pekko-sample-fsm-scala && sbt test

      - name: Test pekko-sample-persistence-java
        run: cd pekko-sample-persistence-java && mvn test

      - name: Test pekko-sample-persistence-scala
        run: cd pekko-sample-persistence-scala && sbt test

      - name: Test pekko-sample-persistence-dc-java
        run: cd pekko-sample-persistence-dc-java && mvn test

      - name: Test pekko-sample-persistence-dc-scala
        run: cd pekko-sample-persistence-dc-scala && sbt test

      - name: Test pekko-sample-sharding-java
        run: cd pekko-sample-sharding-java && mvn test

      - name: Test pekko-sample-sharding-scala
        run: cd pekko-sample-sharding-scala && sbt test

      - name: Test pekko-sample-kafka-to-sharding-scala
        run: cd pekko-sample-kafka-to-sharding-scala && sbt test

      - name: Test pekko-sample-cluster-docker-compose-java
        run: cd pekko-sample-cluster-docker-compose-java && ./scripts/test.sh

      - name: Test pekko-sample-cluster-docker-compose-scala
        run: cd pekko-sample-cluster-docker-compose-scala && ./scripts/test.sh

      # Tests below require Minikube  
      - name: Start minikube
        uses: manusa/actions-setup-minikube@v2.12.0
        with:
          driver: docker
          minikube version: 'v1.34.0'
          kubernetes version: 'v1.31.1'

      - name: Enable ingress
        run: minikube addons enable ingress

      - name: Test pekko-sample-grpc-kubernetes-scala
        run: cd pekko-sample-grpc-kubernetes-scala && ./scripts/test.sh

      - name: Test pekko-sample-cluster-kubernetes-scala
        run: cd pekko-sample-cluster-kubernetes-scala && ./scripts/test.sh

      - name: Test pekko-sample-cluster-kubernetes-java
        run: minikube start && cd pekko-sample-cluster-kubernetes-java && ./scripts/test.sh

      # Build and test the documentation
      - name: Test docs gen
        run: cd docs-gen && sbt paradox
